
.body {
    display: flex;
    margin: ;
    height: 100vh;


}


.center-colon {
    flex: 1;
    margin-right: 50px;
    color: black;
    padding: 20px;
    box-sizing: border-box;

}

.three-colons {
    color: white;

}

table {
    border: solid:
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 90%;
    margin: auto;
    border-top: 1px solid;




}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: white;

}

th,
td {
    border-bottom: 1px solid;
    padding: 8px 10px;
    background-color: white;
    font-size: 15px;
    font-family: "DejaVu Sans";

}
th:first-child {
    border: 0px solid;
    border-bottom: 1px solid;
    padding: 8px 10px;
    background-color: white;
    font-size: 30px;
    font-family: "DejaVu Sans Mono";


}

th:hover {
    background-color: #bb88a8;
    opacity: 0.6;
    transition: 0.6s;
}

tfoot th {
    text-align: center;
}

tfoot td {
    font-weight: bold;
}

.title {
    font-family: Inconsolata;
    font-size: 52px;
    color: whitesmoke;
    margin: auto;
    margin-top: 40px;
}


.button1 {
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 10px;
    border-width: 1px black;
    background-color: floralwhite;
    text-align: center;
    height: auto;
    width: auto;
    cursor: pointer:

}


.button1:hover {
    background-color: lightpink;
    opacity: 0.6;
    transition: 0.7s;

}

.container {
    text-align: center;
    height: 40px;
}



